@charset "UTF-8";

:root {
    --bs-font-sans-serif: 'PT Sans Narrow', sans-serif;
    --bs-primary-rgb: 23, 59, 98;
    --bs-info-rgb:7,69,116;
    --bs-warning-rgb:251, 202, 100;
}

body {
    font-weight: 400;
}
header h1 {
    font-size: calc(0.6rem + 0.6vw);
    font-weight: 400;
    color: white;
    letter-spacing: 0.05rem;
}

header em, header a{
    font-style: normal;
    font-weight: 700;
}

.cargando{
    opacity:.1;
}